html {
  height: 100%;
  width: 100%;
}

.buttons {
  justify-content: center; 
  margin: 5px;
  margin-left: 15px;
  text-align: right;
  padding: 5px 15px;
  cursor: pointer;
}

.box {
  display: none; 
  position: absolute;
  padding: 20px;
  color: white;
  font-size: 18px;
}

#div1 {
  width: 250px;
  height: 200px;
  top: 550px;
  left: 100px;
}

#div2 {
  width: 250px;
  height: 200px;
  top: 450px;
  left: 250px;
}

#div3 {
  width: 250px;
  height: 200px;
  top: 550px;
  left: 350px;
}

#div4 {
  width: 250px;
  height: 200px;
  top: 450px;
  left: 450px;
}

#div5 {
  width: 250px;
  height: 200px;
  top: 550px;
  left: 550px;
}


.adults { 
 background-color: grey; 
}

.junior { background-color: grey; 
}

.lessons { background-color: grey; 
}

.pros { background-color: grey; 
}

.contact { background-color: grey; 
}


.show { display: block; } 
